<!DOCTYPE html>
<html lang="zh-CN">
  <head>
  <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="匕首之心 HTML SRD">
    <meta name="keywords" content="匕首之心,Daggerheart,SRD">
    <!-- Bootstrap -->
    <link href="{{ "bootstrap/css/bootstrap.min.css" | relURL }}" rel="stylesheet">
    <link href="{{ "css/sticky-footer.css" | relURL }}" rel="stylesheet">
    <link href="{{ "css/site.css" | relURL }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-spy="scroll" data-target="#sidemenu">
  {{ template "chrome/topmenu.html" . }}
  <div id="wrap">
    {{ template "chrome/sidemenu.html" . }}
    <div class="content-area">
      {{ .Content }}
    </div>
  </div>
  {{ template "chrome/footer.html" . }}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ "jquery.js" | relURL }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ "bootstrap/js/bootstrap.min.js" | relURL }}"></script>
    <script src="{{ "js/lang-toggle.js" | relURL }}"></script>
  </body>
</html>
